    $box-default-background: #fcf5ee;
    $box-default-border-size: 0;
    $box-default-border-radius: var($border-radius-lg);
    $box-highlight-background: #fff8e5;
    $box-highlight-border: transparent;
    $box-highlight-border-size: 0;
    $box-warning-background: #fbefee;
    $box-warning-border: transparent;
    $box-warning-border-size: 0;
    $box-outline-background: #fff;
    $box-outline-border-size: 1px;
    $box-outline-border: rgba(42,29,48,.12);