
    $display-onlight-primary: #232115;
    $display-onlight-primary-dimmed: rgba(35,33,21,.87);
    $display-onlight-secondary: rgba(35,33,21,.65);
    $display-onlight-tertiary: rgba(35,33,21,.48);
    $display-onlight-color-blue: #0067c7;
    $display-onlight-color-red: #d64638;
    $display-onlight-color-green: #266f1b;
    $display-onlight-color-yellow: #bd8800;
    $display-onlight-color-orange: #8f4700;
    $display-ondark-primary: #fff;
    $display-ondark-secondary: hsla(0,0%,100%,.7);
    $display-ondark-tertiary: hsla(0,0%,100%,.5);
    $display-ondark-color-blue: #0079eb;
    $ui-border: rgba(42,29,48,.16);
    $ui-background: hsla(53,10%,69%,.15);
    $composition-background-primary: #fefdfc;
    $composition-background-secondary: #fff;
    $accents-red: #de483a;
    $accents-yellow: #ffc93e;
    $accents-green: #6b8767;
    $accents-pink: #ffada4;
    $accents-creme: #fae8d6;
    $tone-neutral: $display-onlight-secondary;
    $tone-positive: $display-onlight-color-green;
    $tone-critical: $display-onlight-color-red;
    $actionable-primary-background-idle: #de483a;
    $actionable-primary-background-onhover: #d34936;
    $actionable-secondary-background-idle: hsla(53,10%,69%,.2);
    $actionable-secondary-background-onhover: hsla(53,10%,69%,.3);
    $actionable-tertiary-background-idle: transparent;
    $actionable-tertiary-background-onhover: rgba(0,103,199,.08);
    $actionable-quaternary-background-idle: transparent;
    $actionable-quaternary-background-onhover: hsla(53,10%,69%,.2);
    $selectable-unselected-background-idle: hsla(53,10%,69%,.5);
    $selectable-unselected-background-onhover: hsla(53,10%,69%,.65);
    $selectable-selected-background-idle: #de483a;
    $selectable-selected-background-onhover: #c74433;
    $badge-background-default: #fbeddf;
    $badge-background-new: #e6eeea;
    $badge-background-beta: #faead1;
    $field-fill-background-idle: hsla(53,10%,69%,.2);
    $field-fill-background-onhover: hsla(53,10%,69%,.25);
    $field-outline-background-idle: #fff;
    $field-outline-background-onhover: #fff;
    $field-outline-border-idle: rgba(42,29,48,.24);
    $field-outline-border-onhover: rgba(42,29,48,.32);
    $elevated-background: #fff;
    $elevated-border: rgba(42,29,48,.16);
    $overlay-background-idle: rgba(35,33,21,.75);
    $overlay-background-onhover: rgba(35,33,21,.65);
    $overlay-blur: blur(8px);
    $background-primary: #fefdfc;
    $background-secondary: #fff;
    