$font-weight-600: 600;
$font-weight-625: 625; 
$font-weight-475: 475;
$body-font-weight: 600;
$minor-base-font-weight: 500;
$minor-lg-weight-semibold: $font-weight-600;
$minor-base-weight-semibold: $font-weight-600;
$minor-sm-weight-semibold: $font-weight-600;
$minor-sm-font-weight: 500;
$minor-xs-font-weight: $font-weight-625;
$body-lg-weight-semibold: $font-weight-625;
$body-lg-weight-medium: $font-weight-475;
$body-base-weight-semibold: $font-weight-625;
$body-base-weight-medium: $font-weight-475;
$body-sm-weight-semibold: $font-weight-625;
$body-sm-weight-medium: $font-weight-475;
$body-xs-weight-semibold: $font-weight-625;
$body-xs-weight-medium: $font-weight-475;
$letter-spacing: (0.0125em,0.05em);
$line-height: (1.5,1.5);
    $font-family-sans: "Graphik Web","Helvetica Neue",Helvetica,Arial,sans-serif;
    $font-family-heading: "Graphik Web","Helvetica Neue",Helvetica,Arial,sans-serif;
    $font-family-body: "Inter","Helvetica Neue",Helvetica,Arial,sans-serif;
    $font-weight: 400;
    $font-weight-regular: 400;
    $font-weight-medium: 500;
    $font-weight-semibold: 600;
    $font-weight-bold: 700;
    $typography-max-screen: 70;
    $typography-min-screen: 30;
    $major-font-weight: 600;
    $major-letter-spacing: -0.02em;
    $major-line-height: 1.15;
    $minor-font-family: var($font-family-body);
    $minor-letter-spacing: 0.01em;
    $minor-font-weight: 475;
    $minor-line-height: 1.35;
    $major-4xl-min-size: 2.75;
    $major-4xl-max-size: 5.375;
    $major-3xl-min-size: 2.625;
    $major-3xl-max-size: 4.1875;
    $major-2xl-min-size: 2.3125;
    $major-2xl-max-size: 3.4375;
    $major-2xl-letter-spacing: -0.01em;
    $major-xl-min-size: 2;
    $major-xl-max-size: 2.75;
    $major-xl-letter-spacing: -0.01em;
    $major-lg-min-size: 1.75;
    $major-lg-max-size: 2.375;
    $major-lg-letter-spacing: -0.005em;
    $major-lg-line-height: 1.28;
    $major-base-min-size: 1.5;
    $major-base-max-size: 1.8125;
    $major-base-line-height: 1.28;
    $major-sm-min-size: 1.1875;
    $major-sm-max-size: 1.375;
    $major-sm-line-height: 1.28;
    $major-sm-letter-spacing: 0;
    $minor-lg-min-size: 1.03125;
    $minor-lg-max-size: 1.0625;
    $minor-lg-line-height: 1.4;
    $minor-base-min-size: 0.9375;
    $minor-base-max-size: 0.96875;
    $minor-sm-min-size: 0.875;
    $minor-sm-max-size: 0.90625;
    $minor-xs-min-size: 0.8125;
    $minor-xs-max-size: 0.84375;
    $body-lg-min-size: 1.125;
    $body-lg-max-size: 1.28125;
    $body-lg-font-weight: 475;
    $body-lg-line-height: 1.6;
    $body-base-min-size: 1.0625;
    $body-base-max-size: 1.125;
    $body-base-line-height: 1.75;
    $body-base-letter-spacing: 0.005em;
    $body-sm-min-size: 0.96875;
    $body-sm-max-size: 1;
    $body-sm-line-height: 1.6;
    $body-sm-letter-spacing: 0.01em;
    $body-xs-min-size: 0.875;
    $body-xs-max-size: 0.90625;
    $body-xs-line-height: 1.5;
    $body-line-height: 1.5;
    $body-xs-letter-spacing: 0.0125em;
    $body-letter-spacing: 0.05em;
    $body-xs-font-weight: 475;
    $body-xs-font-family: 475;
    $body-2xs-min-size: 0.75;
    $body-2xs-max-size: 0.75;
    $body-2xs-line-height: 1.5;
    $body-2xs-letter-spacing: 0.025em;
    $body-2xs-font-weight: 500;
