    $product-ui-display-onlight: rgba(35,33,21,.08);
    $product-ui-display-oncolor: hsla(0,0%,100%,.3);
    $product-ui-meta-red: rgb(219,74,61);
    $product-ui-meta-yellow: rgb(255,204,0);
    $product-ui-meta-blue: rgb(47,109,233);
    $product-ui-meta-lime-green: rgb(127,203,72);
    $product-ui-meta-orange: rgb(236,138,9);
    $product-ui-meta-lavender: rgb(235,148,233);
    $product-ui-meta-purple: rgb(105,47,193);
    $product-ui-background-columbia: #f3f7f5;
    $product-ui-background-pale-pink: #fcf4f3;
    $product-ui-background-antique: #fcf5ee;
    $product-ui-background-eggshell: #fcfbee;
    $product-ui-display-onlight-skeleton: rgba(35,33,21,.08);
    $product-ui-sidebar-background: hsla(53,10%,69%,.07);
    $product-ui-keyword-highlight-background: #f6d8d5;
    $product-ui-topbar-oncolor-field: hsla(0,0%,100%,.25);
    $product-ui-topbar-actionable-background-onhover: hsla(0,0%,100%,.25);
    $product-ui-frameinnershadow: 0 0 0 1px rgba(42,29,48,.16) inset;
    $product-ui-elevated-shadow: 0 1px 7px -3px rgba(42,29,48,.1),0 0 20px -4px rgba(42,29,48,.2);
    $product-ui-z-index-overlay: 50;
    $product-ui-z-index-popup: 100;
    $product-ui-z-index-mouse: 500;
    $product-ui-z-index-shadow: 1000;
    $reach-tooltip: 1;
    