$header-color: #DF4D3E;
$primary-font: 16px;


$tube-height-base: 54px;
$tube-height-sm: 34px;
$tube-height-xs: 26px;

$opacity-disabled: 0.4;
$border-radius-full: 9999px;
$border-radius-xl: 13px;
$border-radius-lg: 10px;
$border-radius-base: 8px;
$border-radius-sm: 6px;
$border-radius-none: 0;

$icon-xl: 24px;
$icon-lg: 20px;
$icon-base: 18px;
$icon-sm: 16px;
$icon-xs: 14px;

$navbar-item-group-gap: 2px;

    $dropdown-visibility: visible;
    $dropdown-opacity: 1;
    $dropdown-transform: translateY(0px);
    $dropdown-pointer-events: auto;
